HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# Ignore IDE files
*.iml
*.ipr
*.iws
.idea/


# Ignore Maven files
target/
pom.xml.tag
pom.xml.releaseBackup
# Ignore Eclipse files
.classpath
.project
.settings/

# Ignore IntelliJ files
out/
# Ignore Spring Boot files

springBoot.log
hs_err_pid*
# Ignore OS files

.DS_Store
Thumbs.db

# Ignore logs
logs/

# Ignore temporary files
*.tmp
*~

*.swp
*.swo


# Ignore dependencies
mvnwS
mvnw.cmd
